{% extends 'layout.html' %}
{% block head %}
	<title>Mi Carrito</title>
{% endblock%}
{% block body %}
<br>
<h1>Mi Carrito</h1>
	{% for boleto in boletos %}
        <div class="boleto">
            <h3>Boleto para: {{ boleto.evento.nombre }}</h3>
            <p>Modalidad: {{ boleto.evento.tipo }}</p>
            <p>Tipo: {{ boleto.boleto_impl.mostrarAccesoDev() }}</p>
        </div>
    {% endfor %}

  <form action="{{ url_for('vaciar_carrito') }}" method="post">
		<button class="btn btn-primary" name="vaciar" value="vaciar">Vaciar carrito</button>
	</form>
  <br>
  <form action="{{ url_for('undo_carrito') }}" method="post">
		<button class="btn btn-primary" name="undo" value="undo">Undo carrito</button>
	</form>
  <form action="{{ url_for('comprar_carrito') }}" method="post">
		<button class="btn btn-primary" name="undo" value="undo">Comprar boletos en carrito</button>
	</form>
	
{% endblock %}