{% extends 'layout.html' %}
{% block head %}
	<title>{{ evento.nombre }}</title>
{% endblock%}
{% block body %}
<br>
<h1>{{ evento.nombre }}</h1>
	<p>Formato: {{ evento.tipo }}</p>
	<p>Precio General: {{ evento.precio_general }}</p>
	<p>Precio VIP: {{ evento.precio_vip }}</p>
	<p>{{ evento.descripcion }}</p>
	<h6>Creado por: <a href="{{ url_for('profile', username=evento.organizador.username) }}">{{ evento.organizador.nombre }}</a></h3>

	<form action="{{ url_for('agregar_carrito', evento_id=evento.id, tipo='General') }}" method="post">
		<button class="btn btn-primary" name="comprar" value="General">Agregar a carrito General</button>
		<br><br>
		<button class="btn btn-primary" name="comprar" value="VIP">Agergar a carrito VIP</button>
	</form>
	
{% endblock %}