{% extends 'layout.html' %}
{% block head %}
	<title>{{user.username}}</title>
{% endblock%}
{% block body %}
<br>
	<h1>{{ user.username }}</h1>
	<br><br>
	<h5>Correo: {{ user.email }}</h5>
	<br>
	<h5>Tipo: {{ user.tipo }}</h5>
	<br>
<br>

{% if user.tipo == "Organizador" %}
	<a href="{{ url_for('nuevo_evento') }}" class="button">Crear evento</a>
	<h1>Eventos</h1>
	{% for evento in user.eventos %}
		<h5>{{ evento.nombre }}</h5>
	{% endfor %}
{% endif %}
<br>
	<h1>Tus boletos</h1>
	{% for boleto in user.boletos %}
		{% if boleto.comprado == 1 %}
			<h5>{{ boleto.evento.nombre }}</h5>
			<form action="{{ url_for('mostrar_boleto', boleto_id=boleto.id) }}" method="get">
				<button class="btn btn-primary" name="comprar">Mostrar acceso</button>
			</form>
			<br>
		{% endif %}
	{% endfor %}
{% endblock %}